#contact {
    min-height: 80vh;
}

.contact-section.move {
    display: flex;
    flex-direction: column;

}

.contact-info {
    margin: 1.45rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
} 

.contact-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

.contact-item {
    color: #bbb;
}

.contact-section img {
    width: 2rem;
}