nav {
    height: 3.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid #000;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

nav li {
    list-style: none;
    cursor: pointer;
}

nav span {
    font-weight: bold;
    font-size: 1.15rem;
}

.menu-icon {
    height: 35px;
    width: 35px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .25rem;
}

.menu-icon.mob {
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;

}

.menu-icon div {
    height: .3rem;
    background-color: #000;
    border-radius: 10px;
}

.menu-options {
    display: none;
    position: absolute;
    top: 3.75rem;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100dvh - 3.75rem) ;
    gap: 1.5rem;
    font-size: 1.5rem;
    margin: 0;
    animation: slideMenu .7s ease;
}

.menu-options.active {
    display: flex;
    
}

@keyframes slideMenu {
    from {
        right: -1000px;
    } to {
        right: 0;
    }
}

@media screen and (min-width: 767px) {
    
    .menu-icon {
        display: none;
    }

    .menu-options {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: end;
        font-size: 1.2rem;
        font-weight: bold;
        background-color: inherit;
        height: 100%;
        width: 100%;
        top: 0;
        gap: 0;
        animation: none;
        transition: .3s ease;
    }

    .menu-options li {
        padding: .8rem 1rem;
        text-align: center;
        border-radius: 15px;
    }

    .menu-options li:hover {
        color: #50a080;
        background-color: #2A3848;

    }
    
}