#projects {
    position: relative;    
    width: 100%;
    margin-bottom: 2rem;
}

.projects-section.move {
    display: block;
}

.card {
    position: relative;
    width: 90%;
    height: 200px;
    margin: 1rem auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    border-bottom: .4rem solid var(--font-sec);
}

.card::before {
    content: "";
    position: absolute;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    inset: 0;
    z-index: -1;
    opacity: 0.5;
}

.card ul {
    display: flex;
}

.modal.active {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 72px;
    left: 1rem;
    align-self: center;
    height: 88%;
    width: calc(100% - 2rem);
    border-radius: 5px;
    z-index: 1;
    background-color: #0f1f28;
    border: 1px solid var(--font-sec);
    padding: 1rem;
}

.modal {
    display: none;
}


.modal-header {
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    justify-content: space-between;
    font-size: 1.4rem;
    color: var(--font-sec);
}

.modal-header i {
    cursor: pointer;
    
}

.modal-options {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.modal-options button {
    width: 100%;
    font-size: 1.2rem;
    height: 2rem;
    color: #fff;
    background-color: var(--font-body);
    font-weight: 500;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.modal-content, .modal-stack {
    font-size: 1.2rem;
    color: #bbb;

}

.modal-content {
    margin-bottom: 1rem;
}

.modal-stack h4 {
    color: var(--font-body);
}

.modal-stack li {
    list-style-type: disc;
    margin-left: 1rem;
}